:root {
  --vh: 1vh;
}

.body, .scroll-container {
  width: 100vw;
  height: calc(var(--vh) * 100);
}

.scroll-container {
  position: relative;
  left: 0;
  top: 0;
  z-index: 10;

  overflow: hidden;
}

/* scroll-content: 装在内容的容器，最小高度铺满屏幕，内容溢出会带来滑动。 */
.scroll-content {
  min-height: 100%;
  background-color: rgb(241, 245, 241);

  padding: .01rem 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;

  width: 100%;
  height: .9rem;

  font-size: .5rem;
  text-align: center;
  background-color: rgb(245, 239, 241);
}

.download-app {
  position: fixed;
  bottom: 0;
  left: 0;

  height: 1.10rem;
  background-color: aquamarine;
}

.main {
  padding: .9rem 0 0 0;
}

.book-list {
  margin: 1.10rem .34rem 0;
  padding: .33rem .37rem 0;

  background-color: #fff;

  border: 1px solid rgb(244, 244, 244);
  border-radius: .2rem;
}

.book-list li {
  list-style: none;
  margin-bottom: .33rem;

  width: 100%;
  height: 1.38rem;
  
  display: flex;
}

.book-left {
  width: 1.02rem;
  height: 100%;

  margin-right: .24rem;
  flex: 0 0 1.02rem;
}
.book-left img {
  display: block;
  border-radius: .05rem;
}

.book-right {
  height: 100%;
  flex: 1 1 auto;

  font-size: .25rem;
}

.book-title {
  color: rgb(24, 24, 24);

  font-size: .34rem;
  font-weight: 700;
}

.book-subtitle {
  line-height: .40rem;
  margin-top: .05rem;
  color: rgb(133, 133, 133);
}

.book-tip {
  margin-top: .01rem;
  line-height: .40rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: rgb(176, 176, 176);
}
.book-latest-chapter, .book-update-time {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.book-latest-chapter {
  max-width: 4.04rem;
}
.book-update-time {
  max-width: 1.47rem;
}
